<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 글 목록 조회 -->
	<entry key="selectBoard">
		 SELECT *
         FROM(
             SELECT ROWNUM RNUM, A.*
             FROM (
                     SELECT B_NO
                     
                          , B_TITLE
                          , B_CONTENT
                          , B_HIT
                          , REG_ID
                          , TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
                     FROM TB_BOARD
                     WHERE DEL_YN = 'N'
                     ORDER BY B_NO DESC
             ) A
         )
         WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 게시글 개수 count (페이징) -->
	<entry key="selectBoardCount">
		SELECT COUNT(*) AS COUNT
        FROM TB_BOARD
        WHERE DEL_YN = 'N'
	</entry>
	
	<!-- 글 등록 -->
	<entry key="insertBoard">
		INSERT INTO TB_BOARD
                    (
                           B_NO
                         , B_TITLE
                         , B_CONTENT
                         , B_HIT
                         , REG_ID
                         , MOD_ID
                         , REG_DATE
                         , MOD_DATE
                         , DEL_YN
                     )
                     VALUES
                     (
                            SEQ_BNO.NEXTVAL
                          , ?
                          , ?
                          , DEFAULT
                          , 'user' || SEQ_USERNO.NEXTVAL
                          , 'user' || SEQ_USERNO.CURRVAL
                          , SYSDATE
                          , SYSDATE
                          , 'N'
                     )
	</entry>
	
	<!-- 조회수 증가 -->
	<entry key="updateHit">
		UPDATE
				TB_BOARD
		SET B_HIT = B_HIT + 1
		WHERE B_NO = ?
			AND DEL_YN = 'N'
	</entry>
	
	<!-- 게시글 상세 조회 -->
	<entry key="selectBoardDetail">
		SELECT 
				B_NO
			  , B_TITLE
			  , B_CONTENT
			  , B_HIT
			  , TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
			  , TO_CHAR(MOD_DATE, 'YYYY-MM-DD') AS MOD_DATE
		FROM TB_BOARD
		WHERE B_NO = ?
			AND DEL_YN = 'N'
	</entry>
	
	<!-- 게시글 상세 조회 -->
	<entry key="updateBoard">
		UPDATE
	           TB_BOARD
       SET B_TITLE = ?
         , B_CONTENT = ?
         , MOD_DATE = SYSDATE
       WHERE B_NO = ?
           AND DEL_YN = 'N'
	</entry>
	
	<!-- 게시글 삭제 -->
	<entry key="updateDelYn">
		UPDATE
               TB_BOARD
        SET DEL_YN = 'Y'
          , MOD_DATE = SYSDATE
        WHERE B_NO = ?
	</entry>
	
	<!-- 게시글 검색 -->
	<entry key="selectSearch">
		   SELECT B_NO
	            , B_TITLE
	            , B_CONTENT
	            , B_HIT
	            , REG_ID
	            , TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
	       FROM TB_BOARD
	       WHERE DEL_YN = 'N'
	           AND B_TITLE LIKE '%' || ? || '%'
	       ORDER BY B_NO DESC
	</entry>
	
	<!-- 댓글 조회 -->
	<entry key="selectReply">
		SELECT REPLY_NO
		     , REPLY_CONTENT
		     , REG_ID
		     , TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI') AS REG_DATE
		     , DEL_YN
		     , B_NO
		FROM TB_REPLY
		WHERE DEL_YN = 'N'
			AND B_NO = ?
		ORDER BY REPLY_NO DESC
	</entry>
	
	<!-- 댓글 등록 -->
	<entry key="insertReply">
		INSERT INTO
		            TB_REPLY
		            (
		                REPLY_NO
		              , REPLY_CONTENT
		              , REG_ID
		              
		              , REG_DATE
		              , DEL_YN
		              , B_NO
		            )
		            VALUES
		            (
		                SEQ_RNO.NEXTVAL
		              , ?
		              , 'user' || SEQ_USERNO.NEXTVAL
		              , SYSDATE
		              , DEFAULT
		              , ?
		            )
	</entry>
</properties>